<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>T-shirt Store</h1>

    <ul>

      <li>
        <a href="/uomo"> T-shirt Uomo</a>
      </li>
      <li>
        <a href="/donna"> T-shirt Donna</a>
      </li>
      <li>
        <a href="/bambino"> T-shirt Bambino</a>
      </li>
    </ul>

  </body>
</html>