<<<<<<< HEAD
.PokemonList {
  display: flex;
  flex-direction: column;
  width: 96vw;
  max-width: 470px;

  height: calc(100vh - 100px);
  gap: 22px;
  overflow: auto;

  padding: 30px;
}
=======
.PokemonList {
  display: flex;
  flex-direction: column;
  width: 96vw;
  max-width: 470px;

  height: calc(100vh - 100px);
  gap: 22px;
  overflow: auto;

  padding: 30px;
}
>>>>>>> 4720cc8bc51b74c79469942bfa8fd0c83d0eb2a6
